*,
*::before,
*::after {
    box-sizing: border-box;
}

.header {
    background-color: #1f2937;
}

.left-links {
    font: 24px;
    color: #f9faf8;
}

.right-links, .secondary-text {
    font: 18px;
    color: #e5e7eb;
}
.main-text {
    font: 48px;
    color: #f9faf8;
    weight: 900;
}