*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;;
}

.Header {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 0rem 6rem 0rem 6rem;
}

.Header-logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    flex-grow: 1;
    align-items: center;
}

.right-links {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 18px;
}

.link1, .link2 {
    margin-right: 1rem;
}

.website-main {
    font-family: sans-serif;
    display: flex;
    background-color: #1f2937;
    padding: 4rem 6rem 4rem 6rem;
    /* flex-wrap: wrap; */
}

.webmain-1 {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    flex-shrink: 1;
}

.awesome {
    font-size: 3rem;
    font-weight: 900;
    color: #f9faf8;
}

.subtext {
    font-size: 1.125rem;
    color: #e5e7eb;
}

.webmain-button {
    background-color: #3882f6;
    width: 5rem;
    height: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    justify-content: flex-end;
    border-radius: .5rem;
    border: none;
    font-weight: bold;
    color: #e5e7eb;
}

.webmain-button:hover {
    background-color: #183d79;
    transition-duration: 0.2s;
}

.webmain-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: #eeeeee;
    background-color: #7e7f80;
    height: auto;
    width: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

.random-info {
    display: flex;
    flex-direction: column;
    padding: 4rem 6rem 6rem 6rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 4rem 2rem 4rem;
    font-size: 2.25rem;
    font-weight: bold;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.box1, .box2, .box3, .box4 {
    display: flex;
    flex-direction: column;
    margin: 0rem 2rem 0rem 2rem;
}

.box {
    align-self: center;
    justify-self: center;
    border: .3rem solid #3882f6;
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
}

.random-info-contents {
    width: 10rem;
    height: auto;
    font-size: 1.125rem;
    text-align: center;
}

.inspiring-quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 2.25rem;
    color: #1f2937;
    font-style: light italic;
    padding: 8rem 8rem 8rem 8rem;
    width: auto;
}

.quote {
    align-self: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.Thor {
    /* display: flex; */
    justify-self: center;
    align-self: flex-end;
    margin-right: 8rem;
}

.sub-footer {
    display: flex;
    background-color: #3882f6;
    color: #e5e7e5;
    width: auto;
    gap: 1rem;
    padding: 4rem 6rem 4rem 6rem;
    margin: 4rem 6rem 4rem 6rem;
}

.subfooter-maincontent {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.subfooter-signup {
    display: flex;
    justify-self: flex-end;
    margin-left: auto;
}

.subfooter-button {
    background-color: #3882f6;
    height: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5rem 2rem .5rem 2rem;
    flex-wrap: nowrap;
    width: 8rem;
    justify-content: flex-end;
    border-radius: .5rem;
    border: 2.5px solid #e5e7eb;
    font-weight: bold;
    color: #e5e7eb;
}

.subfooter-button:hover {
    background-color: #67a1ff;
    transition-duration: 0.2s;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: #1f2937;
    color: #e5e7e5;
}

/* .Header {
    background-color: #1f2937;
}

.header-links, .header-contents {
    display: flex;
}

.header-links {

}

.header-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
}

.left-links {
    display: flex;
    font: 24px;
    color: #f9faf8;
    flex-grow: 1;
}

.header-logo {
    margin-left: 2rem;
}

.right-links {
    display: flex;
    justify-content: space-between;
}

.link-1,.link-2,.link-3 {
    margin-right: .5rem;
}

.right-links, .secondary-text {
    font: 18px;
    color: #e5e7eb;
}

.right-links li {
    list-style: none;
    justify-content: space-between;
}

.sign-up {
    background-color: #3882f6;
    border-radius: .5rem;
    border: none;
    color: #ffffff;
    font-weight: bold;
    width: 100px;
    display: inline-block;
    padding: .5rem .5rem;
}

.sign-up:hover {
    background-color: #183d79;
    transition-duration: 0.2s;
}

.main-text {
    font: 48px;
    color: #f9faf8;
    weight: 900;
}

.image-placeholder {
    background-color: #a0a0a0;
    height: 2rem;
    width: auto;
} */